@model Garage2.Models.GarageModel

<h3>Garage statistics</h3>
<ul>
    <li>@Html.DisplayNameFor(model => model.TotalNrCars) @Model.TotalNrCars</li>
    <li>@Html.DisplayNameFor(model => model.TotalNrTrucks) @Model.TotalNrTrucks</li>
    <li>@Html.DisplayNameFor(model => model.TotalNrMotorcycles) @Model.TotalNrMotorcycles</li>
    <li>@Html.DisplayNameFor(model => model.TotalNrBoats) @Model.TotalNrBoats</li>
    <li>@Html.DisplayNameFor(model => model.TotalNrAirplanes) @Model.TotalNrAirplanes</li>
    <li>@Html.DisplayNameFor(model => model.TotalNrOfWheels) @Model.TotalNrOfWheels</li>
    <li>@Html.DisplayNameFor(model => model.TotalProfit) @Model.TotalProfit SEK</li>
</ul>